<p>Procesa email</p>
<form autocomplete="off" (ngSubmit)="procesa(MyForm)" #MyForm="ngForm">
    <input type="text" name="email" id="email" ngModel>
    <input type="submit" value="Procesar">
    <input type="button" value="Limpiar" (click)="Limpiar()" >
</form>
<p></p>
<div style=" background-color: #c4c7c6;padding: 20px;">

    <code>
        <p *ngFor="let item of this.respuesta">
            idsku: {{ item.idsku }} <br>
            inventario: {{ item.inventario }} <br>
            maximo: {{ item.maximo }} <br>
            minimo: {{ item.minimo }} <br>
            msj: {{ item.msj }} <br>
            ======
        </p>

    </code>
</div>